:root{
    --color-kdoubleu:lightblue;
    --color-hover:blue;
    --color-hover:blue;
    --color-hover:blue;
    --color-hover:blue;
    --color-hover:blue;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #2196F3;
}

header > h1 {
    text-align: center;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #333;
}

aside {
    grid-column-start: 2;
    grid-column-end: 5;
}

main {
    grid-column-start: 1;
}

section > p {
    text-align: justify;
}

footer {
    grid-column-start: 1;
}

#kdou  {
    width: 100px;
}

.mission {
    background-color: #4f9dd8;
    display: inline-flex;
    width: 30%;
}

footer {
    font-size: 0.7em;
}


